@media (min-width: 480px) {
  .single .post-content-wrapper {
    padding: 15px;
    display: grid;
    grid-template-columns: 30% 70%;
  }

  .single .text-wrapper {
    padding: 40px;
  }

  .single .main-topbar {
    margin-top: 70px;
  }
}
